tqdm
eva-decord
timm
einops
opencv_python
torchvision

bitsandbytes
omegaconf
iopath
webdataset
ftfy
SentencePiece
transformers==4.30.2
gradio==3.24.1
pytorchvideo
gradio-client==0.0.8
torchaudio

openai
python-dotenv